body{
    background-color: yellowgreen;
    background-image: url(foto/backgroundfoto.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
}
.grid-item1{  
    grid-area: 1/1/1/4;
    background-color: orangered;
    text-align: center;
    max-height: 1em;

    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    padding: 15px;

    font-size: larger;

    animation: mymove 5s linear -1s infinite alternate forwards;
    animation-play-state: running;
}
#form{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px;
    padding: 2px;
}
#form:hover{
    background-color: orange;
}
#gameinfo{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px;
    padding: 2px;
}
#gameinfo:hover{
    background-color: orange;
}
#home{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px; 
    padding: 2px;
}
#home:hover{
    background-color: orange;
}
#galerij{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px; 
    padding: 2px;
}
#galerij:hover{
    background-color: orange;
}
.flex-container{
display:flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-evenly;
}
img{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    margin: 5px;
}
iframe{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    margin: 5px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@keyframes mymove {
    0%   {background: greenyellow;}
    25%  {background: red;}
    50%  {background: orange;}
    75%  {background: orangered;}
    100% {background: yellow;}
}
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: yellow;

    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    margin-bottom: 20px;
}

