body{
    background-image: url(foto/backgroundhome1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px 20px 10px;
    padding: 10px 20px 20px 10px;

    font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr 1fr 1fr;

    gap:10px;
}
/* grid-area: row-start / column-start / row-end / column-end; */
.grid-item1{  
    grid-area: 1/1/1/4;
    background-color: orangered;
    text-align: center;

    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    max-height: 1em;

    padding: 15px;

    font-size: larger;
}
.grid-item2{
    grid-area: 2/1/5/2;
    text-align: center;
}
.grid-item3{
    grid-area: 5/1/6/2;
    text-align: center;
}
.grid-item4{
    grid-area: 2/2/6/3;
    background-color: gold;
    text-align: center;

    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    max-height: auto;
}
.grid-item5{
    grid-area: 2/3/5/4;
    text-align: center;
}
.grid-item6{
    grid-area: 5/3/6/4;
    text-align: center;
}

#form{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px;
    padding: 2px;
}
#form:hover{
    background-color: orange;
}
#gameinfo{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px;
    padding: 2px;
}
#gameinfo:hover{
    background-color: orange;
}
#home{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px; 
    padding: 2px;
}
#home:hover{
    background-color: orange;
}
#galerij{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;

    background-color: yellow;
    color: red;
    margin: 5px; 
    padding: 2px;
}
#galerij:hover{
    background-color: orange;
}
img{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    margin-top: 5px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
iframe{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    margin: 5px;
}
#bf{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
@media (orientation:portrait) {
    #form{
        background-color: black;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-auto-rows: 10px;
    
        gap:10px;
    }
    /* grid-area: row-start / column-start / row-end / column-end; */
    .grid-item1{  
        
        background-color: orangered;
        text-align: center;
    
        border-color: black;
        border-radius: 10px;
        border-style: ridge;
        border-width: 5px;
    
        max-height: 1em;
    
        padding: 15px;
    
        font-size: larger;
    }
    .grid-item2{
        
        text-align: center;
    }
    .grid-item3{
        
        text-align: center;
    }
    .grid-item4{
        
        background-color: gold;
        text-align: center;
    
        border-color: black;
        border-radius: 10px;
        border-style: ridge;
        border-width: 5px;
    }
    .grid-item5{
        
        text-align: center;
    }
    .grid-item6{
        
        text-align: center;
    }
    
}