body{
    background-color: yellowgreen;
}
div{
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
    border-width: 5px;

    text-align: center;
}
#back{
    background-color: yellowgreen;

    font-size: larger;

    text-align: left;

    padding: 3px;

    border-radius: 10px;
    border-color: black;
    border-style: ridge;
    border-width: 5px;

    animation: mymove 5s linear -1s infinite alternate forwards;
    animation-play-state: running;
}
#back:hover{
    background-color: yellow;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
iframe{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 5px;

    margin: 5px;
}
@keyframes mymove {
    0%   {background: greenyellow;}
    25%  {background: red;}
    50%  {background: orange;}
    75%  {background: orangered;}
    100% {background: yellow;}
}
@media (orientation:portrait){
    footer{
        flex-direction: column;
        flex-flow: column;
        align-items: center;
    }
}